<ion-view view-title="About">
    <ion-content>
        <div class="row">
            <div class="col">
                <p>我是<strong>Phodal Huang</strong>，1991年出生于闽南，毕业于西安文理学院(电子信息工程专业)，目前就职于ThoughtWorks(西安)。</p>
                <p>农村长大，热爱大自然，热爱生活。和哈比特人一样喜欢土地里长出来的东西。 </p>
                <p>是一个文艺控。喜欢读书，喜欢纸的质感，喜欢用笔铭刻记忆和思想。 </p>
                <p>是一个设计控，一个DIY爱好者。喜欢自行设计一些小东西，相比理论而言更喜欢动手实践，比如拆装自己的手机、电脑等。 </p>
                <p>最喜欢折腾与计算机相关的东西：<code>SEO</code>、<code>前端开发</code>、<code>硬件相关</code>(如：Raspberry Pi,51,Arduino,OpenWRT,uCOS...)。 </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
