<ion-view view-title="About">
    <ion-content>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="item item-text-wrap">
                        <p>Hello World的代码托管在<i class="ion-social-octocat"></i>上：<a href="#" onclick="window.open('https://github.com/phodal/hello-world', '_system');">https://github.com/phodal/hello-world</a></p>
                    </div>
                    <div class="item item-text-wrap">
                        <p><a href="#" onclick="window.open('http://www.xuntayizhan.com/person/ji-ke-ai-qing-zhi-er-shi-dai-wo-dai-ma-bian-cheng-qu-ni-wei-qi-ke-hao-wan/', '_system');">待我代码编成，娶你为妻可好</a></p>
                    </div>
                    <div class="item item-text-wrap">
                        <p>Powered By: <i class="ion-social-angular"></i> <i class="ion-social-javascript"></i> <i class="ion-social-html5"></i> <i class="ion-ionic"></i> </p>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
