<ion-view view-title="{{language}}">
    <ion-content
            [delegate-handle=""]
            [direction=""]
            [locking=""]
            [padding=""]
            [scroll=""]
            [overflow-scroll=""]
            [scrollbar-x=""]
            [scrollbar-y=""]
            [start-x=""]
            [start-y=""]
            [on-scroll=""]
            [on-scroll-complete=""]
            [has-bouncing=""]
            [scroll-event-interval=""]>
        <div ng-show="hello_world">
            <div hljs source="hello_world"></div>
        </div>
    </ion-content>
</ion-view>
