<ion-view view-title="{{text.question}}">
    <ion-content
            [delegate-handle=""]
            [direction=""]
            [locking=""]
            [padding=""]
            [scroll=""]
            [overflow-scroll=""]
            [scrollbar-x=""]
            [scrollbar-y=""]
            [start-x=""]
            [start-y=""]
            [on-scroll=""]
            [on-scroll-complete=""]
            [has-bouncing=""]
            [scroll-event-interval=""]>
        {{hello_world}}
    </ion-content>
</ion-view>
